#remote .btn-block {
    padding: 10px 10px;
}

#remote-img {
    margin: auto;
}

/* Video principale de video-conf */
.videoContainer {
	position: relative;
	width: 400px;
	height: 400px;
}
.videoContainer video {
	position: absolute;
	width: 100%;
	height: 100%;
}
/* Video "assistance" */
.videoContainerAssistance {
	position: relative;
	width: 200px;
	height: 150px;
}
.videoContainerAssistance video {
	position: absolute;
	width: 100%;
	height: 100%;
}
/*Miniature de la vidéo locale */
.miniature-video {
	width: 100px;
	height: 100px;
}
#miniature {
	float : left;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
    width : 100%;
}

div{
    padding : 5px;
    //border:1px solid black;
}

a:focus {
    outline:0;
}

.container {
    position:absolute;
    left: 20px;
    top: 20px;
    width: 90%;
}

h3 {
    margin: 5px;
}

img {
    height: 100%;
    width: 100%;
}

.container-fluid {
    /*background-color: #c1e2b3;*/
    background-color: #B0C4DE;
}

.col-sm-4 {
    background-color: darkgrey;
}

.col-sm-6 {
    background-color: wheat;
}


.col-sm-8 {
    background-color: #66afe9;
}

.col-sm-12 {
    /*background-color: lightgreen;*/
    background-color: #008080;
}

#divBB{
    color : white;
    text-align: center;
}

/*brandwith_quality*/
#brandwith_quality_high {
    position:relative;
    width: 3px;
    height: 30px;
    margin-left:5px;
    float:left;
    background: green;
}

#brandwith_quality_medium {
    position:relative;
    width: 3px;
    height: 25px;
    margin-left:5px;
    margin-top: 5px;
    float:left;
    background: green;
}

#brandwith_quality_low {
    position: relative;
    width: 3px;
    height: 17px;
    margin-left:5px;
    margin-top: 13px;
    float:left;
    background: green;
}

#brandwith_quality_critical {
    position:relative;
    width: 3px;
    height: 10px;
    margin-left:20px;
    margin-top: 20px;
    background: green;
    float:left;
}
/*Battery{}*/
#battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: -6px;
    top: 3px;
    width: 6px;
}
#battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 16px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    position: relative;
    width: 50px;
    padding:0;
}
#battery-level {
    background-color: #666;
    height: 100%;
    padding:0;
}
#battery-level.high {
    background-color: #66CD00;
}
#battery-level.medium {
    background-color: #FCD116;
}
#battery-level.low {
    background-color: #FF3333;
}

#indication_board {
    height: 50pt;
    overflow-y:auto; 
}

#hug {
    color : rgb(0,0,0);
    margin: auto;
    font-size : 40px;
}

/*User movement possibility*/
#up_possibility {
    color : rgb(0,0,0);
}

#down_possibility {
    color : rgb(0,0,0);
}

#left_possibility {
    color : rgb(0,0,0);
}

#right_possibility {
    color : rgb(0,0,0);
}

/*Obstacle proximity detection*/
#proximity{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-75px; 
    margin-left:8px;  
    transform: rotate(30deg);

}


#proximity_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px; 
}


#proximity1{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-68px;
    margin-left:36px;
    transform: rotate(65deg);
}


#proximity1_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px;  
}


#proximity2{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-40px;
    margin-left:71px;
    transform: rotate(115deg);
}


#proximity2_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px; 
}



#proximity3{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-15px;
    margin-left:98px;
    transform: rotate(155deg);
}


#proximity3_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px; 
}



#proximity4{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-5px;
    margin-left:97px;
    transform: rotate(-155deg);
}


#proximity4_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px;

}


#proximity5{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-12px;
    margin-left:75px;
    transform: rotate(-115deg);

}


#proximity5_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px;


}


#proximity6{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-38px;
    margin-left:36px;
    transform: rotate(-65deg);

}


#proximity6_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px;  

}


#proximity7{
    position:relative;
    width:1px;
    height:40px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:7px;
    margin-top:-70px;
    margin-left:9px;
    transform: rotate(-28deg);

}


#proximity7_level2{
    position:relative;
    width:1px;
    height:1px;
    border:1px solid #666;
    border-color:transparent transparent transparent #666;
    border-width:5px;
    margin-top:-2px;

}


#circle{
    position:relative;
    width:78px;
    height:78px;
    border-radius:50%;
    margin-top:13px;
    margin-left:26px;
    color:#050;
    border: 4px solid #050;
    background:#fff;
    z-index:1;
}

/*disable actually*/
#endline_alert{
    position:relative;
    width:0px;
    height:1px;
    border-radius:50%;
    top:24px;
    left:-3px;
    /*must be set to #050 to be show*/
    color:transparent;
    /*must be set to #050 to be show*/
    border: 2px solid transparent;
    /*must be set to #fff to be show*/
    background:transparent;
    z-index:2;
}

/*disable actually*/
#endline_alert1{
    position:relative;
    width:10px;
    height:10px;
    border-radius:50%;
    color:transparent;
    top:10px;
    left:50px;
    border: 2px solid transparent;
    background:transparent;
    z-index:3;
}

/*disable actually*/
#endline_alert2{
    position:relative;
    width:10px;
    height:10px;
    border-radius:50%;
    top:-31px;
    left:24px;
    color:transparent;
    border: 2px solid transparent;
    background:transparent;
    z-index:4;
}

/*disable actually*/
#endline_alert3{
    position:relative;
    width:10px;
    height:10px;
    border-radius:50%;
    top:8px;
    left:24px;
    color:transparent;
    border: 2px solid transparent;
    background:transparent;
    z-index:5;
}

/*Used to chose pannel control ie: touch pad or screen pad*/
ul#tabs { 
    list-style-type: none; 
    margin: 30px 0 0 0; 
    padding: 0 0 0.3em 0; 
}

ul#tabs li { 
    display: inline; 
}

ul#tabs li a { 
    color: #42454a; background-color: #dedbde; 
    border: 1px solid #c9c3ba; 
    border-bottom: none; 
    padding: 0.3em; 
    text-decoration: none;
}

ul#tabs li a:hover { 
    background-color: #f1f0ee;
}

ul#tabs li a.selected { 
    color: #000; background-color: 
        #f1f0ee; font-weight: bold; 
    padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent { 
    border: 1px solid #c9c3ba;
    padding: 0.5em; 
    background-color: #f1f0ee;
}

div.tabContent.hide { 
    display: none;

}


#triangle-up {
    margin-left: auto;
    margin-right: auto;
    bottom: 5px;
    width: 5px;
    height: 25px;
    background: red;
    transform: rotate(0deg);
}

#triangle-up:after {
    content: "";
    position:absolute;
    top: -10px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid red;
}
