<!DOCTYPE html>
<html>
    <head>
        <title>WebRTC Demo - FabLab Project</title>
        <script src="/lib/js/jquery-1.11.2.min.js"></script>
        <script src="/lib/js/jquery-ui.js"></script>
        <script src="/js/simplewebrtc.bundle.js"></script>
<!--        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDqu-4RAXAUsXo6CZ7tvi7U4_sd3AE3k&sensor=false">
        </script>-->
        <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css">
        <script src="/lib/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/css/design_layout.css" />

    </head>
    <body>
        <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="row row-margin">
                <div class="navbar-header menu-margin">
                    <h2 class="site-description">
                        <a href="/" id="home" style="text-decoration:none;">Fablabs</a>
                    </h2>
                </div>
            </div>
            <div class="row row-margin">
                <a href="/room/robair1" class="btn btn-default">robAir-1</a>
            </div>

            <div class="row row-margin">
                <a href="/room/robair2" class="btn btn-default">robAir-2</a>
            </div>
        </div>
        <div class="content content-extra">
            <%- content %>
        </div>
    </body>
</html>

